<a href="https://colab.research.google.com/github/shravanijgithub/python-codes/blob/main/Untitled51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import re


pattern = re.compile(r'^[A-Z]{2} \d{2} [A-Z]{2} \d{4}$')

# validate  vehicle no
def is_valid_number_plate(number_plate):
    return bool(pattern.match(number_plate))

# Test cases
plates = [
    "MH 12 AB 1234",  # Valid plate
    "DL 09 CD 5678",
    "KA 18 EF 9999",
    "MH123AB1234",    # Invalid  missing spaces
    "MH 12A AB 123",  # Invalid  incorrect format
    "GJ 03 XYZ 5678"  # Invalid  more letters
]

#each no plate
for plate in plates:
    result = "Valid" if is_valid_number_plate(plate) else "Invalid"
    print(f"{plate}: {result}")

MH 12 AB 1234: Valid
DL 09 CD 5678: Valid
KA 18 EF 9999: Valid
MH123AB1234: Invalid
MH 12A AB 123: Invalid
GJ 03 XYZ 5678: Invalid